{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>{% block title %}Favflamz cbt app{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
{% block body %}
<div class="flex-container">
    <!-- nav bar-->
    <nav>
        <div class="nav-wrapper" style="background-color:#6c757d;">
            <div class="container nav-wrapper">
                <a href="#!" class="brand-logo" style="color:gold;">Favflamz CBT Test</a>
                <ul class="right hide-on-med-and-down">
                <li><a href=""><i class="material-icons left"></i>Home</a></li>
                <li><a href=""><i class="material-icons right"></i></a></li>
              </ul>
            </div>
        </div>

    </nav>

    <!-- content and register button-->

    <div class="mid-detail">
        <div class="container header" style="color:grey; padding-left:150px; padding-top:40px;"><h3><em>Welcome to Favflamz CBT Test</em></h3></div>



















        <div class="container reg" style="padding-left:350px; padding-top:100px;">
            <a href="signup/">
                <button class="btn waves-effect waves-light" style="background-color:green; color:#343a40;" type="submit" name="action"><b><em>SIGN UP HERE</em></b>
                    <i class="material-icons right" style="color:#343a40;"></i>
                </button>
            </a>
        </div>
    </div>


    <!-- next page button-->
    <div class="container button" style="padding-left:750px; padding-bottom:60px; padding-top:60px;">
        <a href="instruct/">
          <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:#343a40; color:#20c997;">Next Page
            <i class="material-icons right">trending_flat</i>
          </button>
       </a>
    </div>

    <!---footer-->

    <footer class="page-footer" style="background-color:#6c757d;">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!"><em>| Favflamz project</em></a>
            </div>
        </div>
    </footer>


</div>


{% endblock %}



</body>
</html>