
{% extends 'base.html' %}

{% block title %}Instruction page {% endblock %}
{% block body %}
<nav>
    <div class="nav-wrapper" style="background-color:#6c757d;">
        <div class="container nav-wrapper">
            <a href="#!" class="brand-logo" style="color:gold; font-size:19.2px;">Instruction page</a>
            <ul class="right hide-on-med-and-down">
                <li><a href=""><i class="fa fa-home" style="font-size:30px; color:gold;"></i></a></li>

            </ul>
        </div>
    </div>

</nav>


<div class="container instrctions" style="line-height:35px; font-family:Raleway, sans-serif; color:#444; padding-right:150px;  padding-left:150px; font-weight:800;">
        <ul>
            <li> * You have to select three subjects for your examination test in the next page where English Language (use of English) is compulsory.</li>
            <li>
                <p>* Each Subjects has a total of 40 or 50 questions depending on the year selected.</p>
                <p>* English Language(use of English) has a total of 60 - 100 questions depending on the year selected </p>
            </li>
            <li>* You have a total of 180 minutes for the examination test</li>
            <li>
                <p>* To answer the questions, click on the option preferred.</p>
                <p># Take note here, that only one radio button can be “on” at the same time, you can’t select two answers.</p>

                <p>* For you to proceed to the next page/question, click on the Next button which is located under each questions.</p>
                <p>* After choosing the best answer to the question, to save time, you should proceed and click the NEXT button to go to see the next question until you are through with every questions.</p>
                <p>* To go back to the previous question, click on Previous</p>
                <p>NOTE: Take note that you can still omit or skip any question which you are not familiar with, or you don’t know the answer to. You still have the option of coming back to answer the question – if time permits!</p>
            </li>
            <li>* To end examination, click on Submit.</li>
            <li></li>


        </ul>

    </div>

</div>





<div class="container button" style="padding-left:750px; padding-bottom:60px; padding-top:60px;">
    <a href="page1/">
       <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:green; color:white;">
           Proceed
           <i class="fa fa-arrow-right" style="color:black;" ></i>
           <i class="fa fa-arrow-right" style="color:black;" ></i>
       </button>
   </a>
</div>



{% endblock %}