
{% extends 'base.html' %}

{% block title %}signup {% endblock %}
{% block body %}


<nav>
    <div class="nav-wrapper" style="background-color:#6c757d;">
        <div class="container nav-wrapper">
            <a href="#!" class="brand-logo" style="color:gold; font-size:19.2px;">Favflamz CBT Test Signup page</a>
        </div>
    </div>

</nav>


<div class="container content1" style="color:#20c997;">
    <h3><em>Fill in the appropriate answers in the form below</em></h3>
</div>


<div class="container form" style="padding-top:50px; ">
    <form  action="{% url 'addUser' %}" method="post">

    {% csrf_token %}

{{form}}
    <div class="container payment description">
        <h3 style="color:#20c997; font-size:24px; text-align:left;">Before you can register, you have to pay a sum of #1000 naira as the registration fee</h3>
        <div class="pay-now">
            <h5  class="pay-options" style="color:grey; "><em>Here are the links to the payment options available below</em></h5>
            <ul class="row">
                <li  style="font-size:18px;"><a href="#">Bank Transfer</a></li>
                <li  style="font-size:18px;"><a href="#1">Remitta</a></li>
            </ul>
        </div>

    </div>

    <input type="submit" value="register" class="btn waves-effect waves-light">

    </form>

</div>


<!--footer-->

<footer class="page-footer" style="background-color:#6c757d;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!"><em>| Favflamz project</em></a>
        </div>
    </div>
</footer>

{% endblock %}