{% extends 'base.html' %}

{% block title %}subject and years {% endblock %}
{% block body %}

<form action="{% url 'page1' %}" method="post">
    {% csrf_token %}
    <label>
        <input  id="Accounts - Principles of Accounts" name="search" class="form-control" />
        <span> <em>Accounts - Principles of Accounts</em></span>
    </label>


    <input type="submit"  value="submit">
</form>

{{search | title}}

<div class="container button" style="padding-left:750px; padding-bottom:60px; padding-top:60px;">
    <a href="chem-page/">
       <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:#343a40; color:#20c997;">Next Page
         <i class="material-icons right">trending_flat</i>
       </button>
    </a>
</div>


{% endblock %}