body{
    background-image:url("../images/memphis-colourful.png")
}

.header{
    padding-top:100px;
    padding-left:30px;
}
.header h1{
    text-align:center;
}
.reg{

    padding:150px;
    padding-left:300px;
    color:gold;

}